[Unit]
Description=LXD - agent
Documentation=man:lxd-agent(1)
Before=cloud-init.target cloud-init.service cloud-init-local.service
DefaultDependencies=no
After=vyos-router.service

[Service]
Type=notify
WorkingDirectory=-/run/lxd_agent
ExecStartPre=/usr/bin/test ! -f /dev/virtio-ports/org.linuxcontainers.lxd
ExecStartPre=/lib/systemd/lxd-agent-setup
ExecStart=/usr/bin/lxd-agent
Restart=on-failure
RestartSec=5s
StartLimitInterval=60
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
